@import '../../scss/vars';

.button {
  min-width: 60px;
  border-radius: 6px;
  border: 1px solid $cBlack;
  cursor: pointer;

  &_size_big {
    height: 40px;
  }

  &_size_small {
    height: 24px;
  }
}
