$bmu: 4px;

// Outdents
$p4: $bmu;
$p8: $bmu * 2;
$p12: $bmu * 3;
$p16: $bmu * 4;
$p20: $bmu * 5;
$p24: $bmu * 6;
$p28: $bmu * 7;
$p32: $bmu * 8;
$p36: $bmu * 9;
$p40: $bmu * 10;

// Colors
$cBlack: black;
$cGreen: green;
$cOrange: orange;
